[Unit]
Description=Gunicorn instance to serve cs121
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/cs121
Environment="PATH=/home/ubuntu/cs121/myenv/bin"
ExecStart=/home/ubuntu/cs121/myenv/bin/gunicorn --workers 3 --bind unix:cs121.sock -m 007 --log-level debug --access-logfile 'app.log'  wsgi:app
RestartSec=35
Restart=on-failure

[Install]
WantedBy=multi-user.target
